.formCreateTask {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  position: absolute;
  width: 736px;
  height: 53px;
  left: calc(50% - 736px / 2);
  top: 173px;
}
.formCreateTask input {
  box-sizing: border-box;

  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  width: 39.88rem;
  height: 3.38rem;
  background: var(--gray-500);
  border: 0.06rem solid var(--gray-700);
  border-radius: 0.5rem;
  color: white;

  flex: none;
  order: 0;
  flex-grow: 1;
}

.formCreateTask button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 90px;
  height: 52px;

  background: #1e6f9f;
  border-radius: 8px;

  transition: 0.3s;
}
.formCreateTask button:hover:enabled {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 8px;

  width: 90px;
  height: 52px;

  background: #4ea8de;
  border-radius: 8px;
  cursor: pointer;
}

.formCreateTask button:disabled {
  background-color: dimgrey;
  opacity: 1;
}

.formCreateTask button span {
  width: 34px;
  height: 20px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 140%;

  color: #f2f2f2;
}

.containerTasks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;

  position: absolute;
  width: 736px;
  height: 287px;
  left: calc(50% - 736px / 2);
  top: 291px;
}

.containerLabels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px;

  width: 736px;
  height: 19px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.containerLabels span {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;

  color: #4ea8de;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.divLabel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 8px;

  height: 19px;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.divCounter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  gap: 10px;

  width: 25px;
  height: 19px;

  background: #333333;
  border-radius: 999px;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.divCounter span {
  /* width: 9px; */
  height: 15px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;

  color: #d9d9d9;

  flex: none;
  order: 0;
  flex-grow: 0;
}

.empty {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  gap: 16px;

  width: 736px;
  height: 244px;

  border-top: 1px solid #333333;
  border-radius: 8px;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.empty img {
  width: 56px;
  height: 56px;

  background: url(.png);

  flex: none;
  order: 0;
  flex-grow: 0;
}
.empty span {
  width: 688px;
  height: 16px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;

  text-align: center;

  color: #808080;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.empty :last-child {
  font-weight: 400;
}

.task {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px;
  gap: 12px;

  width: 736px;
  height: 72px;

  background: #262626;

  border: 1px solid #333333;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  align-items: center;
  
}

.task div:first-of-type{
  flex-grow: 1;   
}

.task input[type="checkbox"] {
  width: 1.3em;
  height: 1.3em;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  -o-appearance: none;
  outline: 2px solid var(--blue);
  cursor: pointer;
}

.task input[type="checkbox"]:checked {
  background-color: var(--blue-dark);
}

.task span {
  width: 632px;
  height: 40px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;

  color: #f2f2f2;

  flex: none;
  order: 1;
  flex-grow: 1;
}
